@page
@model projetdotnet.Views.Home._defaultpageModel
@{
    <!-- Views/Shared/_defaultpage.cshtml -->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Add any additional head content here -->
        <title>Welcome to Formation .NET</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- Add any additional stylesheets or scripts here -->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div class="container-fluid bordered-container">
                        <div class="row">
                            <div class="col-10">
                                <div class="default-content">
                                    <h3>Welcome to Formation .NET</h3>
                                    <p>
                                        This is the default page content. Please select a chapter or quiz from the sidebar to get started.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add any additional scripts or content here -->

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <!-- Add any additional JavaScript or jQuery scripts here -->

    </body>
    </html>


}
